<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>HANYANG STARUP LOUNGE</title>
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/sub_import.css" />
</head><body>
<div id="wrap">
  <div class="wrap">
    <div id="headerwrap">
  <header id="header">
    <h1><a href="index.html"><img src="../img/logo.png" alt="HANYANG STARTUP LOUNGE" /></a></h1>
    <nav id="nav">
      <ul class="gnb">
        <li class="eq-01"> <a href="eng_sub_1about_1.html">介绍</a>
          <ul class="sgnb">
            <li><a href="eng_sub_1about_1.html">问候语</a></li>
            <li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
            <li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
          </ul>
        </li>
        <li class="eq-02"> <a href="eng_sub_2programs_1education_1.html">项目</a>
          <ul class="sgnb">
            <li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
            <li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
            <li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
            <li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
          </ul>
        </li>
        <li class="eq-03"> <a href="eng_sub_3angelinvestmentfund_1.html">天使投资</a>
          <ul class="sgnb">
            <li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
          </ul>
        </li>
        <li class="eq-04"> <a href="eng_sub_4startupinfo_1.html">初创公司信息</a>
          <ul class="sgnb">
            <li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
            <li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- //nav -->
    <div id="language">
      <p>LANGUAGE</p>
      <ul>
        <li><a href="http://startup.hanyang.ac.kr/" target="_blank">Korean</a></li>
        <li><a href="http://startup.hanyang.ac.kr/en" target="_blank">English</a></li>
        <li><a href="../">Chinese</a></li>
      </ul>
    </div>
    <div class="top_gnb">
      <ul>
		<li><a href="/">HOME</a></li>
		<li><a href="http://www.hanyang.ac.kr/" target="_blank">HANYANG UNIVERSITY</a></li>
		<li class="lang_btn kr_btn"><a href="http://startup.hanyang.ac.kr/" target="_blank"><span class="sr-only">Korean</span></a></li>
		<li class="lang_btn en_btn"><a href="http://startup.hanyang.ac.kr/en" target="_blank"><span class="sr-only">English</span></a></li>
		<li class="lang_btn ch_btn"><a href="http://startup.hanyang.ac.kr/cn"><span class="sr-only">Chinese</span></a></li>
      </ul>
    </div>
  </header>
  <!-- //header -->
  <div id="menu">
    <p><a href="#" class="sitemap_open"><img src="../img/menu_btn.png" alt="menu btn" /></a></p>
  </div>
  <!-- //menu --> 
</div>
<!-- //headerwrap --> 
    <div id="containerwrap">
      <div id="container">
        <div class="conwrap">
          <div id="center-for">
            <ul class="tab">
              <li class="selected"> <a href="#about">跨国企业家中心</a> </li>
              <li> <a href="#vision">长远规划 &amp; 目标</a> </li>
              <li> <a href="#major">主要业务</a> </li>
              <li> <a href="#history">历史</a> </li>
              <li> <a href="#organization">组织图</a> </li>
              <li class="last"> <a href="#directions">交通方式</a> </li>
            </ul>
            <h3 id="about"> 跨国企业家中心 </h3>
            <p class="txt1"> 在校友企业家的提议和政府的支援下，学校为纪念建校70周年设立了跨国企业家中心，旨在帮助在校生及预备创业者及一般企业家成长为世界级企业家。<br>
              <br>
              - 汉阳大学一直培养实用人才，为国家发展做出贡献，本中心在继承和发展其实用学风和建校理念 </p>
            <p class="img1"> <img src="../img/sub/cn/about_img1.png" alt="" /> </p>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
            <h3 id="vision"> 长远规划 &amp; 目标 </h3>
            <p class="img2"> <img src="../img/sub/cn/vision_img1.png" alt="" /> </p>
            <ol class="vision">
              <li> 1. 最佳产学研基础设施 </li>
              <li> 2. 跨国创业支援中心（硅谷、纽约、上海） </li>
              <li> 3. 丰富的商务网络（28万名校友） </li>
              <li> 4. 优秀的产学合作技术诀窍 </li>
              <li> 5. 汉阳天使基金、汉阳青年创业基金 </li>
            </ol>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
            <h3 id="major"> 主要业务 </h3>
            <ul class="major">
              <li>
                <dl>
                  <dt> 创业教育 </dt>
                  <dd> <strong>不只是传授知识，而是以实战为主运营讲座</strong><br />
                    <ul>
                      <li>- 运营正规创业讲座</li>
                      <li>- 运营创业融合专业</li>
                      <li>- 运营技术经营学（创业讲座为理工学院必修课）</li>
                      <li>- 运营汉阳初创公司学院、汉阳技术风险企业、风险企业 CEO 学院等</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> 创业体验学习 </dt>
                  <dd> <strong>运营学生亲自参与的实战教育训练项目，以鼓吹创业欲望以及培养能力</strong><br />
                    <ul>
                      <li>-创业竞赛（校内、全国）</li>
                      <li>-创业营地（每年2次）</li>
                      <li>-创业实习（国内、海外）</li>
                      <li>-支持3D 打印教育、实现想法及与商业化联系</li>
                      <li>-初创公司节、寻访企业等</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> 网络 </dt>
                  <dd> <strong>接受成功企业家及各界专家的定期指导，以学习前辈的经验和实战智慧</strong><br />
                    <ul>
                      <li>-企业家论坛（每季度举办一次，是初创公司信息的共享平台）</li>
                      <li>-指导咖啡馆（各主题导师圆桌）</li>
                      <li>-前后辈指导项目等</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> 创业保育 </dt>
                  <dd> <strong>为有前途的风险企业、创业社团、学生创业者等提供创业准备空间及指导、综合创业保育</strong>
                    <ul>
                      <li>-发掘及培养有前途的初创公司</li>
                      <li>-运营校友赞助创业中心</li>
                      <li>-发掘创业社团、学生创业者</li>
                      <li>-扩充投资联系基础设施等</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> 企业家精神研究及合作 </dt>
                  <dd>
                    <ul>
                      <li>-研究企业家精神扩散方案，以及开发实行项目</li>
                      <li>-与国内外企业家中心进行交流和共同项目</li>
                    </ul>
                  </dd>
                </dl>
              </li>
            </ul>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
            <h3 id="history"> 历史 </h3>
            <ul class="history">
              <li>
                <dl>
                  <dt> <span>2016</span> </dt>
                  <dd class="line-1">
                    <ul>
                      <li>CES 2016 汉阳初创公司馆开馆</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2015</span> </dt>
                  <dd class="line-6">
                    <ul>
                      <li>硅谷、纽约、上海企业家中心办事处成立</li>
                      <li>荣获创业教育最佳大学教育部部长奖</li>
                      <li>新设及运营创业融合专业 </li>
                      <li>被选定为 Idea Factory 事业主管机构</li>
                      <li>被选定为创业定制型商业化支援事业主管机构</li>
                      <li>被选定为 SK 青年飞上项目主管机构</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2014</span> </dt>
                  <dd class="line-3">
                    <ul>
                      <li>被选定为大学企业家中心事业</li>
                      <li>被选定为产学合作先导大学（LNC）培养事业</li>
                      <li>被选定为智能创作园地事业 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2013</span> </dt>
                  <dd class="line-3">
                    <ul>
                      <li>被选定为跨国市场型创业 F&amp;D 支援事业 BI 合作机构</li>
                      <li>同时被选定为一般人和大学生创业学院事业</li>
                      <li>被选定为跨国创业教育项目 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2012</span> </dt>
                  <dd class="line-3">
                    <ul>
                      <li>汉阳初创公司学院</li>
                      <li>整合创业保育中心组织</li>
                      <li>被选定为首尔市校园 CEO 培养事业主管机构</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2011</span> </dt>
                  <dd class="line-1">
                    <ul>
                      <li>全国本科生（研究生）技术商业化竞赛 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2010</span> </dt>
                  <dd class="line-2">
                    <ul>
                      <li>企业家营地</li>
                      <li>共同主管 YES 领导企业家精神大会 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt> <span>2009</span> </dt>
                  <dd class="line-3">
                    <ul>
                      <li>国内首次设立大学企业家中心</li>
                      <li>开设企业家培养教育系基础课</li>
                      <li>运营企业家论坛 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
            </ul>
            <h3 id="organization"> 组织图 </h3>
            <p class="txt2"> 跨国企业家中心是汉阳大学风险企业、创业支援业务的控制塔，由主任和副主任、综合业务组长、全职职员等构成。 <br>
              了顺利运营本中心，设有咨询委员会、导师团、各种小委员会。 </p>
            <p class="img3"> <img src="../img/sub/cn/organ_img1.png" alt="" /> </p>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
            <h3 id="directions"> 交通方式 </h3>
            <p class="img4"> <img src="../img/about/directions_img1.png" alt="" /> </p>
            <ul class="directions">
              <li>
                <dl>
                  <dt>地址及联系方式</dt>
                  <dd>04763 首尔特别市城东区往十里路222汉阳大学 HIT 504室，汉阳大学首尔校园 跨国企业家中心<br>
                    Tel. 02-2220-2871<br>
                    FAX. 02-2220-2869<br>
                    E-mail: center@hanyang.ac.kr</dd>
                </dl>
              </li>
              <li class="btm">
                <dl>
                  <dt>交通方式指南</dt>
                  <dd>地铁2号线汉阳大学站2号出口<br>
                    干线公交车：302路、410路 <br>
                    支线公交车：2012（清凉里）路、2013路、2014路、2222路 </dd>
                </dl>
              </li>
            </ul>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
          </div>
          <!-- //center-for --></div>
      </div>
      <!-- //container --> 
    </div>
    <!-- //containerwrap --> 
    
  </div>
  <!-- //wrap -->
  
  <div id="con_bottom">
  <div class="conwrap">
  	<div class="rolling">
        <ul>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"> <img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
            <li><a href="http://www.startup.go.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner7.png"></a></li>
            <li><a href="http://www.kised.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner8.png"></a></li>
            <li><a href="http://www.creativekorea.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner9.png"></a></li>
            <li><a href="https://ccei.creativekorea.or.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner10.png"></a></li>
            <li><a href="http://www.kocca.kr/" target="_blank"><img src="../img/linkbanner/linkbanner11.png"></a></li>
            <li><a href="http://besuccess.com/" target="_blank"> <img src="../img/linkbanner/linkbanner12.png"></a></li>
            <li><a href="http://www.bizinfo.go.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner13.png"></a></li>
            <li><a href="http://www.ceokf.com/" target="_blank"> <img src="../img/linkbanner/linkbanner14.png"></a></li>
            <li><a href="http://dcamp.kr/about" target="_blank"> <img src="../img/linkbanner/linkbanner15.png"></a></li>
            <li><a href="http://hbakorea.com/html/" target="_blank"> <img src="../img/linkbanner/linkbanner16.png"></a></li>
            <li><a href="http://www.jointips.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner17.png"></a></li>
            <li><a href="https://www.venturein.or.kr/venturein/index.jsp" target="_blank"> <img src="../img/linkbanner/linkbanner18.png"></a></li>
            <li><a href="https://www.facebook.com/GlobalStartupNetwork" target="_blank"> <img src="../img/linkbanner/linkbanner19.png"></a></li>
            <li><a href="http://www.thecircle.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner20.png"></a></li>
            <li><a href="http://www.maru180.com/pcindex.html" target="_blank"> <img src="../img/linkbanner/linkbanner21.png"></a></li>
            <li><a href="http://www.venturesquare.net/" target="_blank"> <img src="../img/linkbanner/linkbanner22.png"></a></li>
            <li><a href="http://www.creation.seoul.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner23.png"></a></li>
            <li><a href="http://www.poscoventure.co.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner24.png"></a></li>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"><img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
        </ul>
        <a href="#none" class="roll_prev"></a>
        <a href="#none" class="roll_next"></a>
  	</div>
  </div>
</div>
<div id="footerwrap">
  <footer id="footer">
    <h1><a href="index.html"><img src="../img/footer_logo.png" alt="한양대학교" /></a></h1>
    <address>
    Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>
    04763 首尔特别市城东区往十里路222汉阳大学 HIT 504室，汉阳大学首尔校园 跨国企业家中心<br>
    Tel: +82-2-2220-2861  Fax: +82-2220-2869   Email: center@hanyang.ac.kr
    </address>
    <p>&copy; 2016. Center for Global Entrepreneurship. All rights reserved.</p>
  </footer>
  <!-- //footer --> 
</div>
<!-- //footerwrap --> 

<!-- sitemap -->
<div class="sitemap">
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>介绍</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_1about_1.html">问候语</a></li>
							<li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
							<li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
						</ul>
					</dd>
					<dt>项目</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
							<li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
							<li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
							<li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<dl>
					<dt>天使投资</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
						</ul>
					</dd>
					<dt>初创公司信息</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
							<li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
    <a href="#none" class="sitemap_close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
	<!-- /.wrap -->
</div>
<!-- /.sitemap -->




















  
<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.cycle2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login_popup.js"></script>
<script src="../js/jquery.hogi.marquee.js"></script>
</div>
<!-- //wrap -->
</body>
</html>