<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>HANYANG STARUP LOUNGE</title>
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/sub_import.css" />
</head><body>
<div id="wrap">
  <div class="wrap">
    <div id="headerwrap">
  <header id="header">
    <h1><a href="index.html"><img src="../img/logo.png" alt="HANYANG STARTUP LOUNGE" /></a></h1>
    <nav id="nav">
      <ul class="gnb">
        <li class="eq-01"> <a href="eng_sub_1about_1.html">介绍</a>
          <ul class="sgnb">
            <li><a href="eng_sub_1about_1.html">问候语</a></li>
            <li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
            <li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
          </ul>
        </li>
        <li class="eq-02"> <a href="eng_sub_2programs_1education_1.html">项目</a>
          <ul class="sgnb">
            <li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
            <li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
            <li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
            <li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
          </ul>
        </li>
        <li class="eq-03"> <a href="eng_sub_3angelinvestmentfund_1.html">天使投资</a>
          <ul class="sgnb">
            <li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
          </ul>
        </li>
        <li class="eq-04"> <a href="eng_sub_4startupinfo_1.html">初创公司信息</a>
          <ul class="sgnb">
            <li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
            <li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- //nav -->
    <div id="language">
      <p>LANGUAGE</p>
      <ul>
        <li><a href="http://startup.hanyang.ac.kr/" target="_blank">Korean</a></li>
        <li><a href="http://startup.hanyang.ac.kr/en" target="_blank">English</a></li>
        <li><a href="../">Chinese</a></li>
      </ul>
    </div>
    <div class="top_gnb">
      <ul>
		<li><a href="/">HOME</a></li>
		<li><a href="http://www.hanyang.ac.kr/" target="_blank">HANYANG UNIVERSITY</a></li>
		<li class="lang_btn kr_btn"><a href="http://startup.hanyang.ac.kr/" target="_blank"><span class="sr-only">Korean</span></a></li>
		<li class="lang_btn en_btn"><a href="http://startup.hanyang.ac.kr/en" target="_blank"><span class="sr-only">English</span></a></li>
		<li class="lang_btn ch_btn"><a href="http://startup.hanyang.ac.kr/cn"><span class="sr-only">Chinese</span></a></li>
      </ul>
    </div>
  </header>
  <!-- //header -->
  <div id="menu">
    <p><a href="#" class="sitemap_open"><img src="../img/menu_btn.png" alt="menu btn" /></a></p>
  </div>
  <!-- //menu --> 
</div>
<!-- //headerwrap --> 
    <div id="containerwrap">
      <div id="container">
        <div class="conwrap">
          <div id="greeting">
            <p class="txt1"> 您好?欢迎大家访问汉阳初创公司休息室。 </p>
            <p class="txt2"> 汉阳初创公司休息室是门户网站型开放平台，在这里可以查看和分享与初创公司有关的一切信息，如大学内创业支援相关教育、有关项目、导师导生联系等。 </p>
            <ul>
              <li class="photo"> <img src="../img/about/greeting_photo.png" alt="" /> </li>
              <li class="txt1"> 汉阳大学跨国企业家中心设立于2009年7月，这是国内大学第一次设立此类机构的，旨在帮助在校生及创业初期的企业家培养企业家精神，还学习企业家们活生生的现场经验和实战智慧，以成为“有备而来的技术创业者”。 <br>
                为了实现这些目标，本中心构建了汉阳初创公司休息室，在这里可与初创公司创业者或专门导师形成合作网络。本中心将为很多梦想成功创办初创公司的人们提供有益的信息和沟通的场所，并通过持续不断的管理完善本中心的系统。<br>
                我们期待预备创业家、前辈企业家、各领域专家通过初创公司休息室积极交流信息以及形成合作网络，希望大家往后也继续关注和鼓励我们。<br>
                谢谢。 </li>
              <li class="btm"> 柳昌完<br />
                汉阳大学跨国企业家主任<br />
                Head of Business Incubator Center, Hanyang University<br />
                汉阳大学创业保育主任<br>
                汉阳天使俱乐部会长 </li>
            </ul>
          </div>
          <!-- //greeting --> 
        </div>
        <!-- //container --></div>
    </div>
    <!-- //containerwrap --> 
  </div>
  <!-- //wrap -->
  
  <div id="con_bottom">
  <div class="conwrap">
  	<div class="rolling">
        <ul>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"> <img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
            <li><a href="http://www.startup.go.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner7.png"></a></li>
            <li><a href="http://www.kised.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner8.png"></a></li>
            <li><a href="http://www.creativekorea.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner9.png"></a></li>
            <li><a href="https://ccei.creativekorea.or.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner10.png"></a></li>
            <li><a href="http://www.kocca.kr/" target="_blank"><img src="../img/linkbanner/linkbanner11.png"></a></li>
            <li><a href="http://besuccess.com/" target="_blank"> <img src="../img/linkbanner/linkbanner12.png"></a></li>
            <li><a href="http://www.bizinfo.go.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner13.png"></a></li>
            <li><a href="http://www.ceokf.com/" target="_blank"> <img src="../img/linkbanner/linkbanner14.png"></a></li>
            <li><a href="http://dcamp.kr/about" target="_blank"> <img src="../img/linkbanner/linkbanner15.png"></a></li>
            <li><a href="http://hbakorea.com/html/" target="_blank"> <img src="../img/linkbanner/linkbanner16.png"></a></li>
            <li><a href="http://www.jointips.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner17.png"></a></li>
            <li><a href="https://www.venturein.or.kr/venturein/index.jsp" target="_blank"> <img src="../img/linkbanner/linkbanner18.png"></a></li>
            <li><a href="https://www.facebook.com/GlobalStartupNetwork" target="_blank"> <img src="../img/linkbanner/linkbanner19.png"></a></li>
            <li><a href="http://www.thecircle.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner20.png"></a></li>
            <li><a href="http://www.maru180.com/pcindex.html" target="_blank"> <img src="../img/linkbanner/linkbanner21.png"></a></li>
            <li><a href="http://www.venturesquare.net/" target="_blank"> <img src="../img/linkbanner/linkbanner22.png"></a></li>
            <li><a href="http://www.creation.seoul.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner23.png"></a></li>
            <li><a href="http://www.poscoventure.co.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner24.png"></a></li>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"><img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
        </ul>
        <a href="#none" class="roll_prev"></a>
        <a href="#none" class="roll_next"></a>
  	</div>
  </div>
</div>
<div id="footerwrap">
  <footer id="footer">
    <h1><a href="index.html"><img src="../img/footer_logo.png" alt="한양대학교" /></a></h1>
    <address>
    Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>
    04763 首尔特别市城东区往十里路222汉阳大学 HIT 504室，汉阳大学首尔校园 跨国企业家中心<br>
    Tel: +82-2-2220-2861  Fax: +82-2220-2869   Email: center@hanyang.ac.kr
    </address>
    <p>&copy; 2016. Center for Global Entrepreneurship. All rights reserved.</p>
  </footer>
  <!-- //footer --> 
</div>
<!-- //footerwrap --> 

<!-- sitemap -->
<div class="sitemap">
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>介绍</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_1about_1.html">问候语</a></li>
							<li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
							<li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
						</ul>
					</dd>
					<dt>项目</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
							<li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
							<li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
							<li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<dl>
					<dt>天使投资</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
						</ul>
					</dd>
					<dt>初创公司信息</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
							<li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
    <a href="#none" class="sitemap_close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
	<!-- /.wrap -->
</div>
<!-- /.sitemap -->




















  
<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.cycle2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login_popup.js"></script>
<script src="../js/jquery.hogi.marquee.js"></script>
</div>
<!-- //wrap -->
</body>
</html>