<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>HANYANG STARUP LOUNGE</title>
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/sub_import.css" />
</head><body>
<div id="wrap">
  <div class="wrap">
    <div id="headerwrap">
  <header id="header">
    <h1><a href="index.html"><img src="../img/logo.png" alt="HANYANG STARTUP LOUNGE" /></a></h1>
    <nav id="nav">
      <ul class="gnb">
        <li class="eq-01"> <a href="eng_sub_1about_1.html">介绍</a>
          <ul class="sgnb">
            <li><a href="eng_sub_1about_1.html">问候语</a></li>
            <li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
            <li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
          </ul>
        </li>
        <li class="eq-02"> <a href="eng_sub_2programs_1education_1.html">项目</a>
          <ul class="sgnb">
            <li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
            <li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
            <li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
            <li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
          </ul>
        </li>
        <li class="eq-03"> <a href="eng_sub_3angelinvestmentfund_1.html">天使投资</a>
          <ul class="sgnb">
            <li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
          </ul>
        </li>
        <li class="eq-04"> <a href="eng_sub_4startupinfo_1.html">初创公司信息</a>
          <ul class="sgnb">
            <li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
            <li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- //nav -->
    <div id="language">
      <p>LANGUAGE</p>
      <ul>
        <li><a href="http://startup.hanyang.ac.kr/" target="_blank">Korean</a></li>
        <li><a href="http://startup.hanyang.ac.kr/en" target="_blank">English</a></li>
        <li><a href="../">Chinese</a></li>
      </ul>
    </div>
    <div class="top_gnb">
      <ul>
		<li><a href="/">HOME</a></li>
		<li><a href="http://www.hanyang.ac.kr/" target="_blank">HANYANG UNIVERSITY</a></li>
		<li class="lang_btn kr_btn"><a href="http://startup.hanyang.ac.kr/" target="_blank"><span class="sr-only">Korean</span></a></li>
		<li class="lang_btn en_btn"><a href="http://startup.hanyang.ac.kr/en" target="_blank"><span class="sr-only">English</span></a></li>
		<li class="lang_btn ch_btn"><a href="http://startup.hanyang.ac.kr/cn"><span class="sr-only">Chinese</span></a></li>
      </ul>
    </div>
  </header>
  <!-- //header -->
  <div id="menu">
    <p><a href="#" class="sitemap_open"><img src="../img/menu_btn.png" alt="menu btn" /></a></p>
  </div>
  <!-- //menu --> 
</div>
<!-- //headerwrap --> 
    <div id="containerwrap">
      <div class="programs_tab">
        <ul class="incubating_tab">
          <li> <a href="eng_sub_2programs_4incubating_1.html">创业保育中心</a> </li>
          <li> <a href="eng_sub_2programs_4incubating_2.html">校友赞助创业中心</a> </li>
          <li class="selected"> <a href="eng_sub_2programs_4incubating_3.html">校友初创公司桑拿浴</a> </li>
          <li class="last"> <a href="eng_sub_2programs_4incubating_4.html">创业社团</a> </li>
        </ul>
      </div>
      <!-- //programs_tab -->
      <div id="container">
        <div class="conwrap">
          <div id="incubating_alumni">
            <h3>校友初创公司桑拿浴</h3>
            <p class="txt1">给一个人免费提供一个座位，以培养一人校友创业者。这里是校友共同的创业空间，可通过合作进行稳定的商业化</p>
            <dl>
              <dt>支援事项</dt>
              <dd>
                <ul>
                  <li>ㆍ提供本中心合作伙伴的法务、税务、劳务、专利等专门咨询服务</li>
                  <li>ㆍ支持专利申请费用、宣传及营销费等商业化</li>
                  <li>ㆍ通过汉阳天使基金、汉阳青年创业基金等，与创业资金投资机会联系</li>
                  <li>ㆍ可优先参加汉阳初创公司学院、智能创作园地等创业教育</li>
                  <li>ㆍ可免费参加企业家论坛、指导咖啡馆等企业家培养项目 </li>
                  <li>ㆍ可使用共同机器院内50多种实验装备，以及免费利用图书馆</li>
                  <li>ㆍ与汉阳大学教授、研究员和产学合作项目联系 </li>
                </ul>
              </dd>
            </dl>
          </div>
          <!-- //incubating_alumni --></div>
      </div>
      <!-- //container --> 
    </div>
    <!-- //containerwrap --> 
    
  </div>
  <!-- //wrap -->
  
  <div id="con_bottom">
  <div class="conwrap">
  	<div class="rolling">
        <ul>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"> <img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
            <li><a href="http://www.startup.go.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner7.png"></a></li>
            <li><a href="http://www.kised.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner8.png"></a></li>
            <li><a href="http://www.creativekorea.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner9.png"></a></li>
            <li><a href="https://ccei.creativekorea.or.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner10.png"></a></li>
            <li><a href="http://www.kocca.kr/" target="_blank"><img src="../img/linkbanner/linkbanner11.png"></a></li>
            <li><a href="http://besuccess.com/" target="_blank"> <img src="../img/linkbanner/linkbanner12.png"></a></li>
            <li><a href="http://www.bizinfo.go.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner13.png"></a></li>
            <li><a href="http://www.ceokf.com/" target="_blank"> <img src="../img/linkbanner/linkbanner14.png"></a></li>
            <li><a href="http://dcamp.kr/about" target="_blank"> <img src="../img/linkbanner/linkbanner15.png"></a></li>
            <li><a href="http://hbakorea.com/html/" target="_blank"> <img src="../img/linkbanner/linkbanner16.png"></a></li>
            <li><a href="http://www.jointips.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner17.png"></a></li>
            <li><a href="https://www.venturein.or.kr/venturein/index.jsp" target="_blank"> <img src="../img/linkbanner/linkbanner18.png"></a></li>
            <li><a href="https://www.facebook.com/GlobalStartupNetwork" target="_blank"> <img src="../img/linkbanner/linkbanner19.png"></a></li>
            <li><a href="http://www.thecircle.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner20.png"></a></li>
            <li><a href="http://www.maru180.com/pcindex.html" target="_blank"> <img src="../img/linkbanner/linkbanner21.png"></a></li>
            <li><a href="http://www.venturesquare.net/" target="_blank"> <img src="../img/linkbanner/linkbanner22.png"></a></li>
            <li><a href="http://www.creation.seoul.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner23.png"></a></li>
            <li><a href="http://www.poscoventure.co.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner24.png"></a></li>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"><img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
        </ul>
        <a href="#none" class="roll_prev"></a>
        <a href="#none" class="roll_next"></a>
  	</div>
  </div>
</div>
<div id="footerwrap">
  <footer id="footer">
    <h1><a href="index.html"><img src="../img/footer_logo.png" alt="한양대학교" /></a></h1>
    <address>
    Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>
    04763 首尔特别市城东区往十里路222汉阳大学 HIT 504室，汉阳大学首尔校园 跨国企业家中心<br>
    Tel: +82-2-2220-2861  Fax: +82-2220-2869   Email: center@hanyang.ac.kr
    </address>
    <p>&copy; 2016. Center for Global Entrepreneurship. All rights reserved.</p>
  </footer>
  <!-- //footer --> 
</div>
<!-- //footerwrap --> 

<!-- sitemap -->
<div class="sitemap">
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>介绍</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_1about_1.html">问候语</a></li>
							<li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
							<li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
						</ul>
					</dd>
					<dt>项目</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
							<li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
							<li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
							<li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<dl>
					<dt>天使投资</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
						</ul>
					</dd>
					<dt>初创公司信息</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
							<li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
    <a href="#none" class="sitemap_close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
	<!-- /.wrap -->
</div>
<!-- /.sitemap -->




















  
<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.cycle2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login_popup.js"></script>
<script src="../js/jquery.hogi.marquee.js"></script>
</div>
<!-- //wrap -->
</body>
</html>