<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>HANYANG STARUP LOUNGE</title>
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/sub_import.css" />
</head><body>
<div id="wrap">
  <div class="wrap">
    <div id="headerwrap">
  <header id="header">
    <h1><a href="index.html"><img src="../img/logo.png" alt="HANYANG STARTUP LOUNGE" /></a></h1>
    <nav id="nav">
      <ul class="gnb">
        <li class="eq-01"> <a href="eng_sub_1about_1.html">介绍</a>
          <ul class="sgnb">
            <li><a href="eng_sub_1about_1.html">问候语</a></li>
            <li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
            <li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
          </ul>
        </li>
        <li class="eq-02"> <a href="eng_sub_2programs_1education_1.html">项目</a>
          <ul class="sgnb">
            <li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
            <li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
            <li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
            <li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
          </ul>
        </li>
        <li class="eq-03"> <a href="eng_sub_3angelinvestmentfund_1.html">天使投资</a>
          <ul class="sgnb">
            <li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
            <li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
          </ul>
        </li>
        <li class="eq-04"> <a href="eng_sub_4startupinfo_1.html">初创公司信息</a>
          <ul class="sgnb">
            <li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
            <li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- //nav -->
    <div id="language">
      <p>LANGUAGE</p>
      <ul>
        <li><a href="http://startup.hanyang.ac.kr/" target="_blank">Korean</a></li>
        <li><a href="http://startup.hanyang.ac.kr/en" target="_blank">English</a></li>
        <li><a href="../">Chinese</a></li>
      </ul>
    </div>
    <div class="top_gnb">
      <ul>
		<li><a href="/">HOME</a></li>
		<li><a href="http://www.hanyang.ac.kr/" target="_blank">HANYANG UNIVERSITY</a></li>
		<li class="lang_btn kr_btn"><a href="http://startup.hanyang.ac.kr/" target="_blank"><span class="sr-only">Korean</span></a></li>
		<li class="lang_btn en_btn"><a href="http://startup.hanyang.ac.kr/en" target="_blank"><span class="sr-only">English</span></a></li>
		<li class="lang_btn ch_btn"><a href="http://startup.hanyang.ac.kr/cn"><span class="sr-only">Chinese</span></a></li>
      </ul>
    </div>
  </header>
  <!-- //header -->
  <div id="menu">
    <p><a href="#" class="sitemap_open"><img src="../img/menu_btn.png" alt="menu btn" /></a></p>
  </div>
  <!-- //menu --> 
</div>
<!-- //headerwrap --> 
    <div id="containerwrap">
      <div class="programs_tab">
        <ul class="training_tab">
          <li> <a href="eng_sub_2programs_3training_1.html">竞赛</a> </li>
          <li class="selected"> <a href="eng_sub_2programs_3training_2.html">营地</a> </li>
          <li> <a href="eng_sub_2programs_3training_3.html">实习</a> </li>
        </ul>
      </div>
      <!-- //programs_tab -->
      <div id="container">
        <div class="conwrap">
          <div id="training_camps">
            <ul class="tab">
              <li class="selected"> <a href="#entre">企业家营地</a> </li>
              <li class="two"> <a href="#startup">初创公司营地</a> </li>
              <li class="last"> <a href="#techno">技术经营学 CEO 营地</a> </li>
            </ul>
            <h3 id="entre">企业家营地</h3>
            <p class="txt1">企业家营地是一种现场项目，企业家们把现场经验和实战智慧集中传授给预备创业者（在校生为主），以提高他们的实战适应力，以及鼓吹挑战精神。</p>
            <ul class="entre">
              <li>
                <dl>
                  <dt>参加对象</dt>
                  <dd>
                    <ul>
                      <li>ㆍ学生创业者、创业社团、对创业感兴趣的其他大学生、导师（企业 CEO）等100名</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li class="last">
                <dl>
                  <dt>主要内容</dt>
                  <dd>
                    <ul>
                      <li>ㆍ预备 CEO 创业体验学习（名士邀请特讲、创业前辈的创业经验之谈等）</li>
                      <li>ㆍ企业 CEO 的现场指导（各团队树立创业想法事业计划，以及进行现场发言，导师进行 One-Point Lesson 等）</li>
                      <li>ㆍ挑战项目</li>
                      <li>ㆍ晚餐及交友的时间 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
            </ul>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
            <h3 id="startup">初创公司营地</h3>
            <p class="txt1">初创公司营地是现场项目，如预备 CEO 创业体验学习（特讲及经验之谈）及企业 CEO 的现场指导等。</p>
            <ul class="entre">
              <li>
                <dl>
                  <dt>参加对象</dt>
                  <dd>
                    <ul>
                      <li>ㆍ学生创业者、创业社团、对创业感兴趣的其他大学生、导师（企业 CEO）等100名</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li class="last">
                <dl>
                  <dt>主要内容</dt>
                  <dd>
                    <ul>
                      <li>ㆍ预备 CEO 创业体验学习（名士邀请特讲、创业前辈的创业经验之谈等）</li>
                      <li>ㆍ企业 CEO 的现场指导（各团队树立创业想法事业计划，以及进行现场发言，导师进行 One-Point Lesson 等）</li>
                      <li>ㆍ挑战项目</li>
                      <li>ㆍ晚餐及交友的时间 </li>
                    </ul>
                  </dd>
                </dl>
              </li>
            </ul>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
            <h3 id="techno">技术经营学 CEO 营地</h3>
            <p class="txt1">技术经营学 CEO 营地是一种网络平台，为了提高“技术经营学”学员的企业家精神及创业精神，发布“10万韩元项目”的结果，以结束一个学期的课程。</p>
            <ul class="entre">
              <li>
                <dl>
                  <dt>参加对象</dt>
                  <dd>
                    <ul>
                      <li>ㆍ大学生及其他参与者共有500名（技术经营学学员、评委、校友前辈等）</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>项目内容</dt>
                  <dd>
                    <div class="table_w">
                      <table>
                        <thead>
                          <tr>
                            <th>区分</th>
                            <th>内容</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>第一部分</td>
                            <td>团队发言（5~8个团队 )</td>
                          </tr>
                          <tr>
                            <td colspan="2">休息</td>
                          </tr>
                          <tr>
                            <td rowspan="3">第二部分</td>
                            <td>创业成功战略 CEO 特讲</td>
                          </tr>
                          <tr>
                            <td>与前辈的对话 &amp; 最后审查</td>
                          </tr>
                          <tr>
                            <td>颁奖典礼</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </dd>
                </dl>
              </li>
              <li class="img">
                <dl>
                  <dt>&nbsp; </dt>
                  <dd> <img src="../img/sub/cn/techno_img1.png" alt="" /> </dd>
                </dl>
              </li>
            </ul>
            <p class="top"> <a href="#"><img src="../img/about/top.png" alt="" /></a> </p>
          </div>
          <!-- //traning_camps --></div>
      </div>
      <!-- //container --> 
    </div>
    <!-- //containerwrap --> 
    
  </div>
  <!-- //wrap -->
  
  <div id="con_bottom">
  <div class="conwrap">
  	<div class="rolling">
        <ul>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"> <img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
            <li><a href="http://www.startup.go.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner7.png"></a></li>
            <li><a href="http://www.kised.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner8.png"></a></li>
            <li><a href="http://www.creativekorea.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner9.png"></a></li>
            <li><a href="https://ccei.creativekorea.or.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner10.png"></a></li>
            <li><a href="http://www.kocca.kr/" target="_blank"><img src="../img/linkbanner/linkbanner11.png"></a></li>
            <li><a href="http://besuccess.com/" target="_blank"> <img src="../img/linkbanner/linkbanner12.png"></a></li>
            <li><a href="http://www.bizinfo.go.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner13.png"></a></li>
            <li><a href="http://www.ceokf.com/" target="_blank"> <img src="../img/linkbanner/linkbanner14.png"></a></li>
            <li><a href="http://dcamp.kr/about" target="_blank"> <img src="../img/linkbanner/linkbanner15.png"></a></li>
            <li><a href="http://hbakorea.com/html/" target="_blank"> <img src="../img/linkbanner/linkbanner16.png"></a></li>
            <li><a href="http://www.jointips.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner17.png"></a></li>
            <li><a href="https://www.venturein.or.kr/venturein/index.jsp" target="_blank"> <img src="../img/linkbanner/linkbanner18.png"></a></li>
            <li><a href="https://www.facebook.com/GlobalStartupNetwork" target="_blank"> <img src="../img/linkbanner/linkbanner19.png"></a></li>
            <li><a href="http://www.thecircle.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner20.png"></a></li>
            <li><a href="http://www.maru180.com/pcindex.html" target="_blank"> <img src="../img/linkbanner/linkbanner21.png"></a></li>
            <li><a href="http://www.venturesquare.net/" target="_blank"> <img src="../img/linkbanner/linkbanner22.png"></a></li>
            <li><a href="http://www.creation.seoul.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner23.png"></a></li>
            <li><a href="http://www.poscoventure.co.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner24.png"></a></li>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"><img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
        </ul>
        <a href="#none" class="roll_prev"></a>
        <a href="#none" class="roll_next"></a>
  	</div>
  </div>
</div>
<div id="footerwrap">
  <footer id="footer">
    <h1><a href="index.html"><img src="../img/footer_logo.png" alt="한양대학교" /></a></h1>
    <address>
    Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>
    04763 首尔特别市城东区往十里路222汉阳大学 HIT 504室，汉阳大学首尔校园 跨国企业家中心<br>
    Tel: +82-2-2220-2861  Fax: +82-2220-2869   Email: center@hanyang.ac.kr
    </address>
    <p>&copy; 2016. Center for Global Entrepreneurship. All rights reserved.</p>
  </footer>
  <!-- //footer --> 
</div>
<!-- //footerwrap --> 

<!-- sitemap -->
<div class="sitemap">
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>介绍</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_1about_1.html">问候语</a></li>
							<li><a href="eng_sub_1about_2.html">初创公司休息室</a></li>
							<li><a href="eng_sub_1about_3.html">跨国企业家中心</a></li>
						</ul>
					</dd>
					<dt>项目</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_2programs_1education_1.html">创业教育</a></li>
							<li><a href="eng_sub_2programs_2networking_1.html">创业网络</a></li>
							<li><a href="eng_sub_2programs_3training_1.html">创业训练</a></li>
							<li><a href="eng_sub_2programs_4incubating_1.html">创业保育</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<dl>
					<dt>天使投资</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_3angelinvestmentfund_1.html">汉阳天使俱乐部</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_2.html">汉阳青年创业基金</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_3.html">众筹</a></li>
						</ul>
					</dd>
					<dt>初创公司信息</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_4startupinfo_1.html">公告事项</a></li>
							<li><a href="eng_sub_4startupinfo_2gallery.html">画廊</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
    <a href="#none" class="sitemap_close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
	<!-- /.wrap -->
</div>
<!-- /.sitemap -->




















  
<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.cycle2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login_popup.js"></script>
<script src="../js/jquery.hogi.marquee.js"></script>
</div>
<!-- //wrap -->
</body>
</html>